{% extends 'base.html' %}

{% block body %}
    <!-- 게시물을 보여주는 부분 -->
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>

    <hr>

    <form action="{% url 'articles:comment_create' article_id=article.id %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>

    <hr>

    {% for comment in article.comment_set.all %}
        <p>
            {{ comment.content }}
            <a href="{% url 'articles:comment_delete' article_id=article.id id=comment.id %}">delete</a>
        </p>
    {% endfor %}
{% endblock %}